<head>
    <meta charset="utf-8">

    <title>Student Share</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-inverse"
     style="background-color: whitesmoke; border-color: transparent">
    <img src="img/logo_ss_v2.png" width="100px" height="70px"/>
    <b><span style="margin-left: 11px;">Sharing is caring!</span></b>
</nav>
<nav class="navbar navbar-inverse" style="background-color: steelblue; border-color: transparent">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="loggedIn.html" style="color: white"><span class="glyphicon glyphicon-home" style="color: white"></span> Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white">Academic Programs
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="program_medical_informatics.html">Media Informatics and Visual Computing</a></li>
                        <li><a href="program_medical_informatics.html">Medical Informatics</a></li>
                        <li><a href="program_software_engineering.html">Software & Information Engineering</a></li>
                        <li><a href="program_software_engineering.html">Business Informatics</a></li>
                        <li><a href="program_software_engineering.html">Computer Engineering</a></li>
                    </ul>
                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search for..." style="height: 28px; width: 250px">
                    </div>
                    <button type="submit" class="btn btn-default" style="height: 28px" formaction="search.html"><span
                            class="glyphicon glyphicon-search"></span></button>
                </form>
                <li><a href="fileUpload.html" style="color: white"><span class="glyphicon glyphicon-upload" style="color: white"></span> Upload</a></li>
                <li><a href="profile.html" style="color: white"><span class="glyphicon glyphicon-list-alt" style="color: white"></span> View Profile</a></li>
                <li><a href="index.html" style="color: white"><span class="glyphicon glyphicon-log-out" style="color: white"></span> Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-sm-12">
    <h2><small>Search results for "Info"</small></h2>
    <hr>

    <div class="container">
        <h4>Academic Programs</h4>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Result</th>
                <th>Number of Courses</th>
                <th>Number of Files</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Media Informatics and Visual Computing</td>
                <td>20 Courses</td>
                <td>11 Files</td>
            </tr>
            <tr>
                <td>Media Informatics</td>
                <td>12 Courses</td>
                <td>5 Files</td>
            </tr>
            <tr>
                <td>Software & Information Engineering</td>
                <td>31 Courses</td>
                <td>121 Files</td>
            </tr>
            <tr>
                <td>Business Informatics</td>
                <td>7 Courses</td>
                <td>17 Files</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>
