.navbar {
            margin-bottom: 0;
            border-radius: 0;
}

#info-box {
    height: 225px;
    border: solid;
    border-color: steelblue;
}

.box {
    border: solid;
    border-color: steelblue;
}

.box-header {
    font-size: 23px;
}

#image {
    max-width: 100%;
}

.no-padding-box {
    padding-left: 0px;
}

.info {
    line-height: 230%;
    font-size: 20px;
    list-style-type: none;
    padding-left: 0;
}

#edit-button {
    padding-right: 0;
}

.box-text {
    font-size: 17px;
}

.textfield {
    height: 40px;
    width: 2px;
    font-size: 20px;
}

#errorMsg {
    color: red;
}

.form-login {
    font-size: 20px;
}

.textfield {
    height: 40px;
    width: 300px;
    font-size: 20px;
}

.login-button {
    width: 100px;
}

.carousel-indicators{
    position: relative;
    margin-top: 5%;
}

.carousel-indicators li {
    background-color: lightslategray;
}
.carousel-indicators .active {
    background-color: darkgray;
}
